pkgbase = tailscale
	pkgdesc = A mesh VPN that makes it easy to connect your devices, wherever they are.
	pkgver = 1.58.0
	pkgrel = 1
	url = https://tailscale.com
	arch = x86_64
	license = MIT
	makedepends = git
	makedepends = go
	depends = glibc
	backup = etc/default/tailscaled
	source = git+https://github.com/tailscale/tailscale.git#commit=e5d341d9620ea8e975d278834c8fe2a24cbc43c9
	sha256sums = SKIP

pkgname = tailscale
