pkgbase = tailscale
	pkgdesc = A mesh VPN that makes it easy to connect your devices, wherever they are.
	pkgver = 1.80.3
	pkgrel = 1
	url = https://tailscale.com
	arch = x86_64
	license = MIT
	makedepends = git
	makedepends = go
	depends = glibc
	options = !lto
	backup = etc/default/tailscaled
	source = git+https://github.com/tailscale/tailscale.git#tag=v1.80.3
	sha256sums = 4c0526282e5e9284d316856278564a6edd9ea20ca31b17bc481d89245607aa81

pkgname = tailscale
